<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee ">
    <display-name>WebComponentsApp</display-name>

    <context-param>
        <param-name>prelude</param-name>
        <param-value>=== PRELUDE ===</param-value>
    </context-param>
    <context-param>
        <param-name>coda</param-name>
        <param-value>=== CODA ===</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>input.jsp</welcome-file>
    </welcome-file-list>
</web-app>
